<header class='app-header'>
  <nav class='app-nav'>
    <ul>
      <li class='nav-item active-item'>
        <a href='#store' class='nav-link'>Store</a>
      </li>
      <li class='nav-item'>
        <a href='#library' class='nav-link'>Library</a>
      </li>
      <li class='nav-item'>
        <a href='#community' class='nav-link'>Community</a>
      </li>
    </ul>
  </nav>
</header>

<main class='app-content'>
  <section id='store' class='store-wrapper'>
    <nav class='store-nav'>
      <h4 class='nav-heading'>Categories</h4>
      <ul>
        <li class='nav-item'>
          <a href='#' class='nav-link'>New releases</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Top sellers</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Upcoming</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>On sale</a>
        </li>
        <li class='nav-item active-item'>
          <a href='#' class='nav-link'>Recommended</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Popular</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Genres</a>
        </li>
      </ul>
      <h4 class='nav-heading'>Genres</h4>
      <ul>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Action</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Adventure</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Casual</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Early access</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Free to play</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Indie</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Massively multiplayer</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Racing</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Role playing</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Simulation</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Sports</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'>Strategy</a>
        </li>
      </ul>
    </nav>
    <div class='store-content recommendations-content'>
      <h3>Recommended</h3>
      <div class='items-wrapper'>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Hades</h5>
              <p class='item-price'>$19.99</p>
            </div>
            <p class='item-reason'>
              Because: 
              <strong>popular among friends</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Horizon: Zero Dawn</h5>
              <p class='item-price'>$59.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>popular among curators</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Doom Eternal</h5>
              <p class='item-price'>$59.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>new DLC</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>iRacing</h5>
              <p class='item-price'>$19.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>special offer</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Fallout: New Vegas</h5>
              <p class='item-price'>$4.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>special offer</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Crusader Kings III</h5>
              <p class='item-price'>$39.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>recently updated</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Titanfall 2</h5>
              <p class='item-price'>$19.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>popular among friends</strong>
            </p>
          </div>
        </article>
        <article class='recommended-item'>
          <div class='item-preview'></div>
          <div class='item-info'>
            <div class='item-info-wrapper'>
              <h5 class='item-title'>Chrono Trigger</h5>
              <p class='item-price'>$14.99</p>
            </div>
            <p class='item-reason'>
              Because:
              <strong>recently updated</strong>
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>