$background-color-dark: #171a21;
$background-color-medium: #1b2f46;
$background-color-light: #407098;
$background-color-extra-light: #66c0f4;
$border-radius-small: 0.3125em;
$border-radius-large: 1em;
$link-color-light: #66c0f4;
$link-color-extra-light: #ffffff;
$margin-base: 1.25em;
$margin-extra-small: $margin-base / 4;
$margin-small: $margin-base / 2;
$margin-medium: $margin-base;
$margin-large: $margin-base * 2;
$padding-base: 1.25em;
$padding-extra-small: $padding-base / 4;
$padding-small: $padding-base / 2;
$padding-medium: $padding-base;
$padding-large: $padding-base * 2;
$text-color-dark: #263645;
$text-color-medium: #4f94bc;
$text-color-light: #c6d4df;
$text-color-extra-light: #ffffff;
$text-size-base: 16px;
$text-size-extra-small: $text-size-base * 0.6875;
$text-size-small: $text-size-base * 0.8125;
$text-size-medium: $text-size-base;
$text-size-large: $text-size-base * 1.25;